In [1]:
import sys
import os
# sys.path.append(top) 把392頂層目錄加到最前面 '/home/pan/django_projects/fast_api_392'
top = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
sys.path.insert(0, top)
# sys.path

In [ ]:
from apps.book.classes.bbooks import BOOKS

In [ ]:
init = {'bookid': '0010550825'}
book = BOOKS(**init)

In [2]:
from apps.ips.model import IPS

In [3]:
import sqlalchemy as sa
from sqlalchemy import (
    Table as TB,
    Column as COL,
    Integer as INT,
    String as STR,
    text,
)
import databases
import pandas as pd

In [4]:
DATABASE_URL = "postgresql://pan:pgcode@localhost/wtb"
pgwtb = databases.Database(DATABASE_URL, ssl=False)
metadata = sa.MetaData()
#
# engine = sqlalchemy.create_engine(
#     DATABASE_URL,
#     #     connect_args={"check_same_thread": False}
# )
# metadata.create_all(engine)
await pgwtb.connect()

In [5]:
# authors = TB("authors", metadata,
#              sqlalchemy.Column("author_id", sqlalchemy.String, primary_key=False),
#              sqlalchemy.Column("firstname", sqlalchemy.String),
#              sqlalchemy.Column("lastname", sqlalchemy.String),
#              )
# fruits = TB("fruits", metadata,
#             COL("id", INT, primary_key=True),
#             COL("name", STR),
#             )
# # authors.create(engine)

tb_ips = TB('ips', metadata,
            sa.Column('id', sa.Integer(), autoincrement=True, nullable=False),
            sa.Column('ip', sa.String(), nullable=False),
            sa.Column('port', sa.String(), nullable=False),
            sa.Column('now', sa.String(), nullable=False),
            sa.Column('goodcnt', sa.Integer(), nullable=False),
            sa.PrimaryKeyConstraint('id'),
            sa.UniqueConstraint('ip')
            )

In [21]:
# .with_entities(ips.c.id)  # .where(ips.columns.id == 1)  # .append_order_by('id')

# query = sa.delete(IPS)
query = sa.select([IPS.ip, IPS.port, IPS.id]).where(IPS.port == 'ip')
# query = sa.select([tb_ips.c.ip, tb_ips.c.port, tb_ips.c.id])  # .where(IPS.port == 'ip')
# await pgwtb.fetch_all(query)
records = await pgwtb.fetch_all(query)
df = pd.DataFrame([dict(r) for r in records])
df

                         ip port    id
0  ip123@#$!!!#############   ip  5052

In [ ]:
str(query)

In [20]:
row = {
    'ip': 'ip123@#$!!!#############',
    'port': 'ip',
    'now': 'ip',
    'goodcnt': 1,
}
#
# row2 = {
#     #     'id': 'ip2',
#     'name': 'ip',

# }
#
query = sa.insert(IPS).values(**row)
last_record_id = await pgwtb.execute(query)
print(last_record_id)

5052

In [ ]:
df.name.values[0] is None

In [ ]:
L, count

In [ ]:
class A:
    @property
    def a(self):
        return 1

In [ ]:
A().a