In [1]:
import sys
import os
# sys.path.append(top) 把392頂層目錄加到最前面 '/home/pan/django_projects/fast_api_392'
top = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
sys.path.insert(0, top)
# sys.path

In [2]:
from apps.book.classes.abookbase import BOOKBASE
from apps.book.classes.bbooks import BOOKS
from apps.book.classes.ctaaze import TAAZE
from apps.book.classes.emollie import MOLLIE
#
import sqlalchemy as sa
# from sqlalchemy import func
import databases
import pandas as pd
#
from apps.book.model import INFO
from apps.ips.config import ips_csv_path, dtype, cacert, headers
from pyquery import PyQuery as pq
import aiofiles
import aiohttp
#
DATABASE_URL = "postgresql://pan:pgcode@localhost/wtb"
pgwtb = databases.Database(DATABASE_URL, ssl=False)
#
await pgwtb.connect()

In [ ]:
init = {
    #     'bookid': '0010817783',  # 限制
    #     'bookid': '0010815762',  #
    'bookid': '9789571371870'
}

b = MOLLIE(**init)
# info = await b.read_info(db=pgwtb)
# info
b.info

In [ ]:
b.isbn_check('9789571371870'), b.isbn_generator('978957137187')

In [ ]:
a = range(1, 10)
b = range(10, 1, -1)
sum([m*n for m, n in zip(a, b)])

In [ ]:
# await b.update_info(db=pgwtb)
# await b.read_info(db=pgwtb)

In [ ]:
b.__dict__.keys()

In [ ]:
b

In [ ]:
import sqlalchemy as sa
import databases
import pandas as pd
#
from apps.ips.model import IPS  # , tb_ips

In [ ]:
DATABASE_URL = "postgresql://pan:pgcode@localhost/wtb"
pgwtb = databases.Database(DATABASE_URL, ssl=False)
#
await pgwtb.connect()

In [ ]:
row = {
    'ip': 'ip123@#$!!!####',
    'port': 'ip',
    'now': 'ip',
    'goodcnt': 1,
}
#
C_query = sa.insert(IPS).values(**row)
await pgwtb.execute(C_query)

In [69]:
# from sqlalchemy import desc
# from sqlalchemy.sql.func import max as samax
# from sqlalchemy.sql import func
from sqlalchemy import or_
#
cs = [INFO.isbn10, INFO.isbn13]
w1 = INFO.store == 'BOOKS'
w2 = INFO.err == None
w3 = or_(INFO.isbn10 != None, INFO.isbn13 != None)
#
query = sa.select(cs).where(w1 & w2).where(w3)
rows = await pgwtb.fetch_all(query)
df = pd.DataFrame(rows)
df

          isbn10         isbn13
0           None  9789864795192
1           None  9780140566505
2           None  9789576123535
3           None  9789578986923
4     7533628705           None
...          ...            ...
5499        None  9789578096295
5500  0590930885           None
5501  9575391497           None
5502        None  9789571371870
5503  9573309289           None

[5504 rows x 2 columns]

In [100]:
isbns = pd.concat([df.isbn10.dropna(),df.isbn13.dropna()])#.unique()
len(isbns)

5504

In [99]:
isbns

array(['7533628705', '0300022336', '7810520172', ..., '9789571008905',
       '9789578096295', '9789571371870'], dtype=object)

In [74]:
cs = [INFO.bookid, INFO.create_dt]
w1 = INFO.store == 'MOLLIE'
w2 = INFO.bookid.in_(isbns)

# w3 = or_(INFO.isbn10 != None, INFO.isbn13 != None)
#
query = sa.select(cs).where(w1 & w2)
rows = await pgwtb.fetch_all(query)
df2 = pd.DataFrame(rows)
df2

          bookid            create_dt
0  9789571371870  2021-06-16_14:46:06

In [ ]:
a[1]

In [ ]:
U_query = sa.update(IPS).values(**{'ip': 'QQ12'}).where(IPS.idx == 24020)
await pgwtb.execute(U_query)

In [ ]:
D_query = sa.delete(IPS).where(IPS.ip == 'QQ12')
await pgwtb.execute(D_query)

In [ ]:
# str(D_query)
type(records[0]['idx'])

In [ ]:
tmp = '''

<!--購物車資訊[M201105_032_ajax]-->
<!--p008-->
<div class="mc002 type02_p008">
<b class="top">
  <b class="tl"></b>
  <b class="tr"></b>
</b>
<div class="inner"><div class="box_1 line clearfix">
 <a href="//www.books.com.tw/activity/24hr/24hr.htm" class="icon_24hr" title="中午前訂 明天可7-11超商取貨"><span>中午前訂 明天可7-11超商取貨</span></a>
</div><div class="box_2 clearfix">
  <ul class="list">
    <li class = 'no'>庫存&gt;<strong>10</strong></li>
  </ul><ul class="btn clearfix">
    
    <li class="clearfix"><a id="cartBuy" onclick="dataLayer.push({'ecommerce':{'add':{'products':[{'id':'0010815762','name':'21\u4e16\u7d00\u768421\u5802\u8ab2','price':474,'category':'001'}]}},'event':'EEProdAddCart','eventAction':'EEProdAddCart'});" href="https://db.books.com.tw/shopping/rcart.php?item=0010815762&org_url=https%3A%2F%2Fwww.books.com.tw%2Fproducts%2F0010815762" class="type02_btn04 btn_shoppcart"><b class="btn_icon01"></b><span><span>放入購物車</span></span></a></li>
    <li class='clearfix easycart'><a onclick="dataLayer.push({'ecommerce':{'checkout':{'actionField':{'step':1,'option':'Shoppinglist'},'products':[{'id':'0010815762','name':'21\u4e16\u7d00\u768421\u5802\u8ab2','price':474,'category':'001'}]}},'event':'EEProdCheckout','eventAction':'EEProdCheckout'});" href='https://db.books.com.tw/shopping/rcart.php?item=0010815762&buy_flag=now&org_url=https%3A%2F%2Fwww.books.com.tw%2Fproducts%2F0010815762' class='type02_btn07'><span><span>直接結帳</span></span></a></li>
</ul><div class="wishlist clearfix" id="wishlist">
</div>
</div>
</div>
<b class="bottom">
  <b class="bl"></b>
  <b class="br"></b>
</b>
</div><!--end p008--><!--p009-->
<div class="mod mc002 type02_p009 clearfix">
<div class="inner">
<div class="box">
  <div class="btn">
    <a href="javascript:pursue_item('0010815762','insert','https://www.books.com.tw/products/0010815762');" class="type02_btn05" title="加入下次再買清單"><span><span>加入下次再買清單</span></span></a>
  </div>
</div>
</div>
<b class="bottom">
<b class="bl"></b>
<b class="br"></b>
</b>
</div><!--end p009--><!--p004-->
<div class="type02_p004 clearfix">
<div class="bd line">
<div class="box_1">
    <h4><strong>滿額送</strong></h4>
<a href="#G000044308"><img class="cover" alt="" src="https://im1.book.com.tw/image/getImage?i=https://addons.books.com.tw/G/G00/8/G000044308.jpg&v=606eb0f8&w=56&h=56&q=" onClick="window.open('https://im1.book.com.tw/image/getImage?i=https://addons.books.com.tw/G/G00/8/G000044308.jpg&v=606eb0f8&w=300&h=300&q=','','width=300,height=300'); return false;"></a>
</div>
<div class="box_2">
    <p>(贈品)週誌筆記本<span class="more"><a href="#G000044308">more</a></span></p>
    <dfn>剩餘數量：<strong>1090</strong></dfn>
</div>
</div>
</div><!--end p004-->

'''

In [ ]:
from pyquery import PyQuery as pq
dom = pq(tmp)

In [ ]:
dom.find(".mc002.type02_p008 ul.list li.no").eq(0).text().strip()

In [ ]:
# import itertools
from itertools import cycle
bookid_pattern = '^00[0-9]{8}$|^CN[0-9]{8}$|^F0[0-9]{8}$'

In [ ]:
import re

In [ ]:
re.match(b, 'DE')

In [ ]:
import rstr

In [ ]:
rstr.xeger(a)

In [ ]:
def bid_cycle(prefix='00', digits=2):
    max_n = int('9'*digits)
    for i in cycle(range(0, max_n+1)):
        bid = f'{prefix}{i:0{digits}}'
        yield bid

In [ ]:
bids = bid_cycle()
bids

In [ ]:
next(bids)

In [ ]:
a = cycle(range(10))

In [ ]:
a = BOOKS.bid_cycle(prefix='CN', digits=8)
a

In [ ]:
# for i in range(20):
#     print(next(a))
# # a
# '001' in [p[1:3] for p in BOOKS.bookid_pattern.split('|')]

In [ ]:
import random

In [ ]:
random.random()

In [ ]:
import requests
from pyquery import PyQuery as pq

In [ ]:
r = requests.get('https://www.books.com.tw/products/00000000')
rtext = r.text

In [ ]:
doc = pq(rtext)

In [ ]:
doc.find(".prod_cont_a ul.price").eq(0).find("em").eq(0).text().strip()