In [ ]:
import sys
import os
# sys.path.append(top) 把392頂層目錄加到最前面 '/home/pan/django_projects/fast_api_392'
top = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
sys.path.insert(0, top)
# sys.path

In [ ]:
from apps.book.classes.bbooks import BOOKS

In [ ]:
init = {'bookid': '0010550825'}
book = BOOKS(**init)

In [16]:
import sqlalchemy as sa
from sqlalchemy import (
    Table as TB,
    Column as COL,
    Integer as INT,
    String as STR,
    text,
)
import databases
import pandas as pd

In [17]:
DATABASE_URL = "postgresql://pan:pgcode@localhost/wtb"
pgwtb = databases.Database(DATABASE_URL, ssl=False)
metadata = sa.MetaData()
#
# engine = sqlalchemy.create_engine(
#     DATABASE_URL,
#     #     connect_args={"check_same_thread": False}
# )
# metadata.create_all(engine)
await pgwtb.connect()

In [18]:
# authors = TB("authors", metadata,
#              sqlalchemy.Column("author_id", sqlalchemy.String, primary_key=False),
#              sqlalchemy.Column("firstname", sqlalchemy.String),
#              sqlalchemy.Column("lastname", sqlalchemy.String),
#              )
# fruits = TB("fruits", metadata,
#             COL("id", INT, primary_key=True),
#             COL("name", STR),
#             )
# # authors.create(engine)

ips = TB('ips', metadata,
         sa.Column('id', sa.Integer(), autoincrement=True, nullable=False),
         sa.Column('ip', sa.String(), nullable=False),
         sa.Column('port', sa.String(), nullable=False),
         sa.Column('now', sa.String(), nullable=False),
         sa.Column('goodcnt', sa.Integer(), nullable=False),
         sa.PrimaryKeyConstraint('id'),
         sa.UniqueConstraint('ip')
         )

In [64]:
# .with_entities(ips.c.id)  # .where(ips.columns.id == 1)  # .append_order_by('id')

# query = ips.select(ips.c.ip)  # .column([ips.c.ip])
query = sa.select([ips]).with_only_columns(
    [
        ips.c.ip, 
     ips.c.port, 
     ips.c.goodcnt
    ]
)  # .where(ips.columns.id >100).order_by()
# await pgwtb.fetch_all(query)
records = await pgwtb.fetch_all(query)
df = pd.DataFrame(records)
df

    goodcnt               ip   port
0         1     65.25.76.198     80
1         4     116.73.14.16   8080
2         2    117.6.161.118  53281
3         1   201.132.105.30   8080
4         1    176.28.64.225   3128
..      ...              ...    ...
73        2   118.174.233.40  42106
74        1   139.99.102.114     80
75        1    68.183.80.246     80
76        3    202.61.51.204   3128
77        4  161.202.226.194     80

[78 rows x 3 columns]

In [ ]:
ips.select().__dict__

In [ ]:
len(records)

In [52]:
row = {
    'ip': 'ip12',
    'port': 'ip',
    'now': 'ip',
    'goodcnt': 1,
}
#
row2 = {
    #     'id': 'ip2',
    'name': 'ip',

}
#
query = sa.insert(ips).values(**row)
last_record_id = await pgwtb.execute(query)
print(last_record_id)

3208

In [ ]:
df.name.values[0] is None

In [11]:
L, count

([2, 3, 7, 9, 10, 7, 9, 9, 10, 10], 5)