In [ ]:
from apps.ips.config import ips_csv
ips_csv

In [1]:
import sys
sys.path
# mydir = '/home/pan/django_projects/fast_api_392'
# mydir = '/home/pan/django_projects/fast_api_392/apps'
# sys.path.append(mydir)

['/home/pan/django_projects/fast_api_392',
 '/home/pan/anaconda3/envs/fast_env/lib/python39.zip',
 '/home/pan/anaconda3/envs/fast_env/lib/python3.9',
 '/home/pan/anaconda3/envs/fast_env/lib/python3.9/lib-dynload',
 '',
 '/home/pan/anaconda3/envs/fast_env/lib/python3.9/site-packages',
 '/home/pan/anaconda3/envs/fast_env/lib/python3.9/site-packages/IPython/extensions',
 '/home/pan/.ipython']

In [28]:
import re
a = '12345672A'
re.split('(?<=[0-9])2(?=[0-9])', a)

['1', '345672A']

In [36]:
not 1>3

True

In [21]:
list([1])

TypeError: 'int' object is not callable

In [19]:
a

{1: 2}

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [1, 1, 2], 'b': [100, 100, 100]})
df

   a    b
0  1  100
1  1  100
2  2  100

In [15]:
df.groupby('a').filter(lambda x: x.b.sum() > 101)

   a    b
0  1  100
1  1  100

In [14]:
df.filter(lambda x: x.b.sum() > 101)

TypeError: 'function' object is not iterable

In [31]:
a = [1]
b = a
a += [1]

In [32]:
a, b

([1, 1], [1, 1])