In [42]:
import pandas as pd

In [9]:
t = [1, 2, 3]
data = [
    ('a', 1),
    ('a', 2),
    ('a', 3),
    ('b', 1),
    ('b', 3),
    ('c', 1),
    ('d', 4),
]
df = pd.DataFrame(data).rename(columns={0: 'A', 1: 'B'})
df

   A  B
0  a  1
1  a  2
2  a  3
3  b  1
4  b  3
5  c  1
6  d  4

In [17]:
where = df.B.isin(t)
df2 = df[where]
df2

   A  B
0  a  1
1  a  2
2  a  3
3  b  1
4  b  3
5  c  1

In [36]:
df3 = df2.groupby('A').size().to_frame().reset_index()
df3

   A  0
0  a  3
1  b  2
2  c  1

In [40]:
where = df3[0] == len(t)
df3[where].A.tolist()

['a']