In [2]:
x = 1
def A(a):
    print(a, x)

def B():
    x = 3
    A(x)


#
# A(x)
B()

3 1

In [8]:
2**3

8

In [5]:
bin(3)

'0b11'

In [39]:
import pandas as pd
df = pd.DataFrame({'a': [2, 0], 'b': [True, True]})
df

   a     b
0  2  True
1  0  True

In [40]:
df.a **3

0    8
1    0
Name: a, dtype: int64