In [ ]:
import sys
import os
# sys.path.append(top) 把392頂層目錄加到最前面 '/home/pan/django_projects/fast_api_392'
top = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
sys.path.insert(0, top)
# sys.path

In [ ]:
from apps.book.classes.bbooks import BOOKS

In [ ]:
init = {'bookid': '0010550825'}
book = BOOKS(**init)

In [1]:
import sqlalchemy as sa
from sqlalchemy import (
    Table as TB,
    Column as COL,
    Integer as INT,
    String as STR,
)
import databases
import pandas as pd

In [2]:
DATABASE_URL = "postgresql://pan:pgcode@localhost/wtb"
pgwtb = databases.Database(DATABASE_URL, ssl=False)
metadata = sa.MetaData()
#
# engine = sqlalchemy.create_engine(
#     DATABASE_URL,
#     #     connect_args={"check_same_thread": False}
# )
# metadata.create_all(engine)
await pgwtb.connect()

In [3]:
# authors = TB("authors", metadata,
#              sqlalchemy.Column("author_id", sqlalchemy.String, primary_key=False),
#              sqlalchemy.Column("firstname", sqlalchemy.String),
#              sqlalchemy.Column("lastname", sqlalchemy.String),
#              )
fruits = TB("fruits", metadata,
            COL("id", INT, primary_key=True),
            COL("name", STR),
            )
# authors.create(engine)
ips = TB('ips', metadata,
         sa.Column('ip', sa.String(), nullable=False),
         sa.Column('port', sa.String(), nullable=False),
         sa.Column('now', sa.String(), nullable=False),
         sa.Column('goodcnt', sa.Integer(), nullable=False),
         sa.PrimaryKeyConstraint('ip')
         )

In [11]:
query = fruits.select()  # .where(authors.columns.author_id == 1)  # 'select * from authors where author_id=1;'
records = await pgwtb.fetch_all(query)
df = pd.DataFrame(records)
df

   id name
0   3  ###
1   4   ip

In [10]:
row = {
    'ip': 'ip2',
    'port': 'ip',
    'now': 'ip',
    'goodcnt': 1,
}
# 
row2 = {
#     'id': 'ip2',
    'name': 'ip',
    
}
# 
query = fruits.insert().values(**row2)
last_record_id = await pgwtb.execute(query)
print(last_record_id)

4

In [ ]:
df.name.values[0] is None