In [ ]:
import sys
import os
# sys.path.append(top) 把392頂層目錄加到最前面 '/home/pan/django_projects/fast_api_392'
top = os.path.dirname(os.path.dirname(os.path.dirname(os.getcwd())))
sys.path.insert(0, top)
# sys.path

In [ ]:
from apps.book.classes.bbooks import BOOKS

In [ ]:
init = {'bookid': '0010550825'}
book = BOOKS(**init)

In [1]:
import sqlalchemy as sa
from sqlalchemy import (
    Table as TB,
    Column as COL,
    Integer as INT,
    String as STR,
    text,
)
import databases
import pandas as pd

In [2]:
DATABASE_URL = "postgresql://pan:pgcode@localhost/wtb"
pgwtb = databases.Database(DATABASE_URL, ssl=False)
metadata = sa.MetaData()
#
# engine = sqlalchemy.create_engine(
#     DATABASE_URL,
#     #     connect_args={"check_same_thread": False}
# )
# metadata.create_all(engine)
await pgwtb.connect()

In [3]:
# authors = TB("authors", metadata,
#              sqlalchemy.Column("author_id", sqlalchemy.String, primary_key=False),
#              sqlalchemy.Column("firstname", sqlalchemy.String),
#              sqlalchemy.Column("lastname", sqlalchemy.String),
#              )
# fruits = TB("fruits", metadata,
#             COL("id", INT, primary_key=True),
#             COL("name", STR),
#             )
# # authors.create(engine)

ips = TB('ips', metadata,
         sa.Column('id', sa.Integer(), autoincrement=True, nullable=False),
         sa.Column('ip', sa.String(), nullable=False),
         sa.Column('port', sa.String(), nullable=False),
         sa.Column('now', sa.String(), nullable=False),
         sa.Column('goodcnt', sa.Integer(), nullable=False),
         sa.PrimaryKeyConstraint('id'),
         sa.UniqueConstraint('ip')
         )

In [17]:
# .with_entities(ips.c.id)  # .where(ips.columns.id == 1)  # .append_order_by('id')

# query = ips.select(ips.c.ip)  # .column([ips.c.ip])
query = sa.select([ips]).with_only_columns(
    [
        ips.c.port,
        ips.c.ip,

        #         ips.c.goodcnt,
    ]
)  # .where(ips.columns.id >100).order_by()
# await pgwtb.fetch_all(query)
records = await pgwtb.fetch_all(query)
df = pd.DataFrame([dict(r) for r in records])
# df

In [15]:
str(query)
#
dict(records[:2][-1])

{'port': '80', 'ip': '13.127.181.181'}

In [18]:
pd.DataFrame(records)

                 ip   port
0      46.246.82.83   3128
1    13.127.181.181     80
2     68.183.80.246     80
3    149.125.38.124   8080
4    217.15.180.146   3128
5     183.89.152.89   8213
6       62.23.15.92   3128
7    149.125.74.204   8080
8    119.81.189.194     80
9       161.35.5.35   8080
10  139.162.160.246     80
11     116.73.14.16   8080
12  161.202.226.194     80
13    139.59.21.196   8080
14  129.146.112.125     80
15    165.225.77.47   9443
16   168.119.137.56   3128
17    149.56.86.231     80
18    183.88.226.50   8080
19     41.190.95.20  56167
20  132.145.212.129     80
21    165.22.91.197   8080
22  178.128.109.226   8080
23    129.21.146.20   8080
24    103.145.32.98     80
25    14.207.41.166   8213
26     84.54.82.173   3128
27  144.217.254.175   3128
28     211.185.26.5   8080
29   117.239.107.51   3128
30  175.209.219.214   8080
31  157.230.227.106   8080
32   178.128.85.196   8080
33      173.249.5.7   8080
34   103.250.157.39   6666
35    41.191.232.21     80
36   157.245.64.113   8080
37     146.59.23.21   3128
38   198.50.163.192   3129
39    202.61.51.204   3128
40      169.57.1.84   8123
41   103.250.156.22  30093
42   167.179.113.45   3128
43    89.218.83.238     80
44   128.199.214.87   3128
45   42.119.139.254   3128
46  117.212.195.161  51778
47  103.154.241.252   8080
48    165.225.77.46   8800
49  144.217.101.245   3129
50    213.182.20.98   8080
51  123.253.125.231  30052
52     15.185.193.6   3128
53      3.6.139.108     80
54    158.51.109.34  31289
55    203.74.120.79   3128
56     181.36.225.9  53281
57    54.165.67.102   8080

In [ ]:
row = {
    'ip': 'ip12',
    'port': 'ip',
    'now': 'ip',
    'goodcnt': 1,
}
#
row2 = {
    #     'id': 'ip2',
    'name': 'ip',

}
#
query = sa.insert(ips).values(**row)
last_record_id = await pgwtb.execute(query)
print(last_record_id)

In [ ]:
df.name.values[0] is None

In [ ]:
L, count